.homefrontbg,
.homebackbg {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.homefrontbg {
  z-index: 5;
}

.homebackbg {
  transform: translateZ(5px) translateY(-10rem);
}

.homefrontbg {
  transform: translateY(25rem);
}

header {
  /* border: 1px solid red; */

  margin-top: 10rem;
}

.home-h1 {
  font-size: 10rem;
  font-weight: 400;
  position: relative;
  z-index: 10;
  margin-left: 5rem;
  color: var(--black);
  text-shadow: 2px 4px 45px white, 1px 0px 20px white;
}

.bold {
  font-weight: 600;
  z-index: 3;
  color: var(--darkblue);
}

@media screen and (max-width: 850px) {
  .home-h1 {
    font-size: 7rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .home-h1 {
    font-size: 5rem;
    margin-left: 0;
  }
}
